.main {
    background-image: url('../images/мир.jpeg');
    height: 100%;
    width: 100%;
}

.header {
    display: grid;
    grid-template-rows: 65px;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
    grid-template-areas: 'm j i a f l';
    width: 83%;

    text-align: center;
    border-radius: 10px;
}
.header > div {
    border: 3px solid black;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: yellowgreen;
    cursor: pointer;
    font-size: 40px;
}
.header > div.active {
    background-color: aqua;
}

.glavnaya {
    grid-area: m;
}

.julia {
    grid-area: j;
}

.irina {
    grid-area: i;
}

.ananas {
    grid-area: a;
}

.forall {
    grid-area: f;
}

.spisok {
    grid-area: l;
}
@media screen and (max-width: 576px) {
    .header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        font-family: none;
    }
    body {
        height: 100%;
    }
}

img {
    height: 70%;
}

.julia {
    margin-left: 5px;
}
.ananas {
    margin-left: 5px;
}
.spisok {
    margin-left: 5px;
}

.forall {
    margin-left: 5px;
}

.irina {
    margin-left: 5px;
}
