.panel {
    background: white;
    font-size: 17px;
}
.textpanel {
    border-color: blue;
    height: 500px;
    width: 300px;
}
.firstdivpanel {
    margin-left: 10px;
    color: black;
}
.areaandbutton {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.buttonpanel {
    border-color: red;
    font-size: 15px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

@media screen and (max-width: 576px) {
    div.rbc-calendar {
        margin-top: 10%;
    }
}
