.mainblockgame {
    box-sizing: border-box;
    display: block;
    border: 10px solid #066ee4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 430px;
    height: 430px;
    position: relative;
}
.black {
    background: black;
}

.knopkaplay {
    display: block;
    box-sizing: border-box;
    background-color: green;
    width: 200px;
    height: 100px;
    border: 5px solid black;
    margin-right: auto;
    margin-left: auto;
    margin-top: 190px;
    cursor: pointer;
    color: rgb(154, 37, 37);
    border-radius: 10px;
}

.textPlay {
    text-align: center;
    font-size: 70px;
}

.kybik {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: red;
    width: 20px;
    height: 20px;
}
