.cell {
    width: 27px;
    height: 27px;
    border: 1px solid black;
    background: white;
    margin: 3px;
}

.myrow {
    display: flex;
}

.food {
    background: yellow;
}

.snake {
    background-color: green;
}

.head {
    background-color: brown;
}

.blockres {
    margin-top: 15px;
    display: block;
    background-color: rgb(78, 78, 240);
    width: 180px;
    height: 60px;
    color: black;
    border: 5px solid black;
}
